.dishes-input{
  background: transparent;
  border: 0px  ;
  border-bottom: 1px dashed #9ea0b4;
  border-right: 1px dashed #9ea0b4;
  width: 20% !important;
  outline: none;
  padding: 0px 0px 0px 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 24px;
  letter-spacing: 5px;
  /* -webkit-box-shadow: 0; */
  /* box-shadow: 0; */
  -webkit-transition: none;
  -o-transition: none;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

.no-border-right{
  border-right: 0;
}

.dishes-input-people{
  background: transparent;
  border: 0px  ;
  border-left: 1px dashed #9ea0b4;
  border-right: 1px dashed #9ea0b4;

  width: 30% !important;
  outline: none;
  padding: 0px 0px 0px 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 24px;
  letter-spacing: 5px;
  /* -webkit-box-shadow: 0; */
  /* box-shadow: 0; */
  -webkit-transition: none;
  -o-transition: none;
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

.dishes-input:focus, input:focus{
    outline: none;
}


.custom-group{
  display: inline-block;
}





.add-dish-btn{
  width: 70px;
  height: auto;
  font-family: 'Acme', sans-serif;
  background-color: rgba(0,0,0,0);
  color:black;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-color: black;
  font-size: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.add-dish-btn:hover{
  background-color: #65c1d8;
  color:white;
  border-color:black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.add-dish-btn:active{
  background-color: #65c1d8;
  color:white;
  border-color:black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.add-dish-btn:focus{
  background-color: #65c1d8;
  color:white;
  border-color:black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
